.card-layouts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
}

.card-container {
    flex: 1;
    width: 33%;
    margin: 30px 10px;
    background: #15272d;
    align-items: stretch;
}

@include breakpoint(small) {
    .card-container {
        width: 100%;
    }
}

.date-style {
    margin-bottom: 20px !important;
}

.card-body {
    height: 250px;
    overflow: hidden;
}

.post-container {
    background: #15272d;
    padding: 2px 16px;
}